<body style="margin: 0; line-height: 30px;">
    <header style="background-color: #002510; height: 150px;">
        <br>
        <div class="titleSistema">
            Sistema Loja
        </div>
    </header>